<br>
<div class="col-lg-12">
  <p class="text-justify blockquote">Nuestro compromiso es y será fortalecer el desarrollo de las comunidades vulnerables y la participación abierta para una etapa de afianzamiento, renovación y prosperidad.</p>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "woman1.jpg", class:"img-fluid" %>
    <h4>Myriam Vega</h4>
    <p>Presidente</p>
  </div>
  <div class="col-md-4">
    <%= image_tag "woman2.jpg", class:"img-fluid" %>
    <h4>Eneida Olivella</h4>
    <p>Vicepresidente</p>
  </div>
  <div class="col-md-4">
    <%= image_tag "woman1.jpg", class:"img-fluid" %>
    <h4>Elisa Royero</h4>
    <p>Revisora Fiscal</p>
  </div>
  <div class="col-md-4">
    <%= image_tag "woman3.jpg", class:"img-fluid" %>
    <h4>Patricia Moron</h4>
    <p>Presidente</p>
  </div>
  <div class="col-md-4">
    <%= image_tag "man2.jpg", class:"img-fluid" %>
    <h4>Jaiver Rojas</h4>
    <p>Fiscal</p>
  </div>
  <div class="col-md-4">
    <%= image_tag "man3.jpg", class:"img-fluid" %>
    <h4>Jhon Corzo</h4>
    <p>Lider de Proyectos</p>
  </div>
</div>