<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SOCEH | Desarrollo Social y Humano</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Favicon -->
	  <%= favicon_link_tag 'soceh.ico' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
